@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
  height: 100vh;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .h1-bold {
    @apply text-[96px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .h4-bold {
    @apply text-[22px] font-medium leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[11px] font-medium leading-[140%];
  }
}

.navbar {
  @apply hidden sm:flex sticky w-full items-center px-20 h-28;
}

.nav-links {
  @apply flex justify-end;
}

.nav-link {
  @apply p-6;
}

.container {
  @apply m-6;
}

.footer {
  @apply mt-auto;
}

.footer-content {
  @apply p-4 sm:p-10;
  background: #dfdfdf;
}

.footer-call-us {
  @apply mb-6;
}

.footer-copyright {
  @apply text-center h-28 pt-10;
  background: #363838;
  color: #a1a1a1;
}

.footer-title {
  @apply body-bold;
}

.footer-lawyer-address {
  @apply mb-6;
}

.footer-address {
  @apply mb-6;
}

.bottombar {
  @apply z-50 w-full sticky bottom-0 px-2 py-2 sm:hidden bg-orange-200;
}

.bottom-links {
  @apply grid grid-cols-3 justify-items-center;
}

.bottom-link {
  @apply rounded-full p-3;
}

.home {
  @apply overflow-hidden min-h-full;
  min-height: calc(100% - 53px - 85px);
}

.home-main {
  background: url(/assets/images/main-img.jpg) no-repeat center;
  background-size: cover;
  @apply text-center p-4 md:p-24 pb-48 text-white;
}

.call-us {
  @apply text-center items-center justify-center my-20;
}

.our-works {
  @apply text-center items-center justify-center mb-28;
}

.our-works-cards {
  @apply grid justify-center text-center items-center justify-items-center mt-16 grid-cols-1 sm:grid-cols-3 2xl:grid-cols-6;
}

.our-works-card {
  @apply text-center max-w-60 p-4 rounded-lg bg-orange-200 mb-12;
  transition: 0.6s;
}

.our-works-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.steps {
  @apply text-center items-center justify-center mb-20 mt-4;
}

.steps-cards {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 justify-center text-center items-center justify-items-center mt-16;
}

.step-card {
  @apply text-center max-w-56 h-80 p-4 rounded-lg bg-orange-200 items-center justify-center mb-12 md:mb-0;
  transition: 0.6s;
}

.step-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.plusses {
  @apply text-center items-center justify-center mb-20 mt-4;
}

.plusses-cards {
  @apply grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 justify-center text-center items-center justify-items-center mt-16;
}

.plus-card {
  @apply text-center max-w-40 h-56 p-4 rounded-lg bg-orange-200 items-center justify-center mb-12 md:mb-0;
  transition: 0.6s;
}

.plus-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.bottom {
  @apply h2-bold sm:h1-bold text-center items-center my-40 md:my-96 text-orange-300;
}

.contacts {
  @apply overflow-hidden min-h-full text-center mt-20 p-10 mb-0 sm:mb-40;
  min-height: calc(100% - 53px - 85px);
}

.contact-title {
  @apply h2-bold mt-16;
}

.contact-text {
  @apply h3-bold mt-4;
}

.catalogue {
  @apply overflow-hidden min-h-full text-center mt-16 p-10 mb-40;
  min-height: calc(100% - 53px - 85px);
}

.catalogue-cards {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-12 justify-center text-center justify-items-center items-center mt-16;
}

.catalogue-card {
  @apply text-center max-w-lg p-4 rounded-lg bg-orange-200 justify-center justify-items-center;
  transition: 0.6s;
}

.catalogue-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.swing {
  @apply overflow-hidden min-h-full text-center mt-16 mb-0 sm:mb-40;
  min-height: calc(100% - 53px - 85px);
}

.swing-head {
  @apply text-center p-4 sm:p-32 relative;
}

.swing-head::before {
  content: '';
  background: url(/assets/images/swing-3.jpeg) no-repeat center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.swing-types {
  @apply mt-32 mb-40 justify-center items-center text-center;
}

.swing-work {
  @apply justify-center items-center text-center mb-24;
}

.materials {
  @apply mt-32;
}

.material-cards {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-12 justify-center text-center items-center justify-items-center mt-16 mx-4;
}

.material-card {
  @apply text-center  p-4 rounded-lg bg-orange-200;
  transition: 0.6s;
}

.material-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.alcove {
  @apply overflow-hidden min-h-full text-center mt-16 mb-0 sm:mb-40;
  min-height: calc(100% - 53px - 85px);
}

.alcove-head {
  @apply text-center p-4 sm:p-32 relative;
}

.alcove-head::before {
  content: '';
  background: url(/assets/images/alcove-3.jpeg) no-repeat center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.alcove-types {
  @apply mt-32 mb-40 justify-center items-center text-center;
}

.alcove-work {
  @apply justify-center items-center text-center mb-24;
}

.slide {
  @apply overflow-hidden min-h-full text-center mt-16 mb-0 sm:mb-40;
  min-height: calc(100% - 53px - 85px);
}

.slide-head {
  @apply text-center p-4 sm:p-32 relative;
}

.slide-head::before {
  content: '';
  background: url(/assets/images/slide-4.jpeg) no-repeat center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.slide-types {
  @apply mt-32 mb-40 justify-center items-center text-center;
}

.slide-work {
  @apply justify-center items-center text-center mb-24;
}

.lumber {
  @apply overflow-hidden min-h-full text-center mt-16 mb-0 sm:mb-40;
  min-height: calc(100% - 53px - 85px);
}

.lumber-head {
  @apply text-center p-4 sm:p-32 relative;
}

.lumber-head::before {
  content: '';
  background: url(/assets/images/home-lumber.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.lumber-kinds {
  @apply mt-28 mx-3;
}

.lumber-kinds-cards {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 justify-center text-center items-center justify-items-center mt-16;
}

.lumber-kinds-card {
  @apply text-center max-w-56 h-52 p-4 rounded-lg bg-orange-200 items-center justify-center mb-10;
  transition: 0.6s;
}

.lumber-kinds-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.firewood {
  @apply overflow-hidden min-h-full text-center mt-16 mb-0 sm:mb-40;
  min-height: calc(100% - 53px - 85px);
}

.firewood-head {
  @apply text-center p-4 sm:p-32 relative;
}

.firewood-head::before {
  content: '';
  background: url(/assets/images/home-firewood.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.firewood-kinds {
  @apply mt-28 mb-20;
}

.firewood-kinds-cards {
  @apply grid grid-cols-1 sm:grid-cols-2 justify-center text-center items-center justify-items-center mt-16;
}

.firewood-kinds-card {
  @apply text-center max-w-80 max-h-96 p-4 rounded-lg bg-orange-200 items-center justify-center mb-10;
  transition: 0.6s;
}

.firewood-kinds-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.better {
  @apply text-center p-10 justify-center items-center;
}

.better-card {
  @apply mb-20;
}

.better-price {
  @apply body-bold mt-4;
}

.better-type {
  @apply h3-bold mb-4;
}

.to-catalogue {
  @apply justify-center items-center text-center;
}

.to-catalogue-btn {
  @apply text-center mx-auto h3-bold p-4 rounded-full bg-orange-300;
  transition: 0.6s;
}

.to-catalogue-btn:hover {
  @apply p-5 bg-orange-400;
}

.trees {
  @apply text-center justify-center items-center mt-28;
}

.trees-cards {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 justify-center text-center items-center justify-items-center mt-16;
}

.trees-card {
  @apply text-center max-w-56 h-64 p-4 rounded-lg bg-orange-200 items-center justify-center mb-10;
  transition: 0.6s;
}

.trees-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.baths {
  @apply overflow-hidden min-h-full text-center mt-16 mb-0 sm:mb-40;
  min-height: calc(100% - 53px - 85px);
}

.baths-head {
  background: url(/assets/images/bath-bochka.jpg) no-repeat center;
  background-size: cover;
  @apply text-center p-4 sm:p-32 text-white;
}

.baths-kinds {
  @apply mt-28 mb-20;
}

.baths-kinds-cards {
  @apply grid grid-cols-1 sm:grid-cols-2 justify-center text-center items-center justify-items-center mt-16;
}

.baths-kinds-card {
  @apply text-center max-w-80 max-h-96 p-4 rounded-lg bg-orange-200 items-center justify-center mb-10;
  transition: 0.6s;
}

.baths-kinds-card:hover {
  @apply bg-orange-300 cursor-pointer;
}

.work-cards {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 justify-center text-center items-center justify-items-center mt-16;
}

.work-cards-4 {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 justify-center text-center items-center justify-items-center mt-16;
}

.work-card {
  @apply text-center rounded-lg items-center justify-center mb-10;
  transition: 0.6s;
}

.work-card:hover {
  @apply opacity-60 cursor-pointer;
}

.type-img {
  @apply mx-auto mt-10 rounded-lg;
}
